.add-notes{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;

    .text-area{
        position: relative;
        margin: 45px 0;
    }

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}